<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Controle de acesso </title>
</head>
<body>
<div class="d-flex flex-column">
    <div>
        <nav class="navbar navbar-dark bg-dark" style="justify-content: flex-start">


            <a class="navbar-brand">
                <a class="nav-link" href="/" style="font-size: 25px">Home</a>
            </a>

            <a class="navbar-brand">
                <a class="nav-link" href="/cadastro" style="font-size: 25px">Cadastro de colaboradores</a>
            </a>



            <a class="navbar-brand">
                <a class="nav-link" href="/registro" style="font-size: 25px">Registro de Ponto</a>
            </a>

            <a class="navbar-brand">
                <a class="nav-link" href="/consulta" style="font-size: 25px">Consulta de Ponto</a>
            </a>
        </nav>
    </div>
</div> 
  
<div class="card" style="width: 18rem; margin-left: 500px; ">
    <img src="https://previews.123rf.com/images/drizzd/drizzd1608/drizzd160800001/60596893-the-word-admin-and-gear-wheel-3d-rendering.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">ADMINISTRATOR</h5>
      <p class="card-text">Painel de administrador, aqui é possível adicionar, visualizar ou excluir os funcionários cadastrados.</p>
      <a href="/view" class="btn btn-primary">Lista de Funcionários.</a>
      <br><br>
      <a href="/add" class="btn btn-success">Adicionar Funcionário</a>
      <br><br>
      <a href="/delete" class="btn btn-danger">Excluir Funcionários</a>
    </div>
  </div>