<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Streaming </title>
</head>

<body>
<div class="d-flex flex-column">
    <div>
        <nav class="navbar navbar-dark bg-dark" style="justify-content: space-between">
            <div class="row">
                <a class="navbar-brand">
                    <a class="nav-link" href="/view" style="font-size: 25px">Gestão de Colaboradores</a>
                </a>

                <a class="navbar-brand">
                    <a class="nav-link" href="/consulta" style="font-size: 25px">Gestão de Ponto</a>
                </a>
            </div>
            <div class="row">
                <a class="navbar-brand">
                    <a class="nav-link" href="/" style="font-size: 25px">Log Out</a>
                </a>
            </div>
        </nav>
    </div>
    <br>
    <div class="container">
        <h2>Cadastrar Colaborador</h2>
        <div class="container">
            <form method="POST" id="form" action="/cadastro">
                <div class="form-group">
                    <label for="matricula">Matrícula: </label>
                    <input type="text" name="matricula" id="matricula" class="form-control">

                    <br>
                    <label for="name">Nome: </label>
                    <input type="text" name="name" id="name" class="form-control">

                    <br>
                    <label for="cpf">CPF: </label>
                    <input type="text" name="cpf" id="cpf" class="form-control">

                    <br>
                    <label for="rg">RG: </label>
                    <input type="text" name="rg" id="rg" class="form-control">

                    <br>
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" placeholder="nome@dominio.com" class="form-control">
                    <br>

                    <label for="senha">Senha:</label>
                    <input type="password" name="senha" id="senha" class="form-control">

                    <br>
                    <div>
                        <label for="admin">RH</label>
                        <input type="checkbox" id="admin" name="admin" class="form-check-input">
                    </div>
                    <input id="submitCodigo" class="btn btn-primary" type="submit" value="Cadastrar">
                    <br>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
</script>
</body>
