<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Controle de acesso </title>
</head>
<body>
<div class="d-flex flex-column">
    <div>
        <nav class="navbar navbar-dark bg-dark" style="justify-content: space-between">
            <div>
                <a class="navbar-brand">
                    <a class="nav-link" href="/consulta" style="font-size: 25px">Gestão de Ponto</a>
                </a>
            </div>

            <div>
                <a class="navbar-brand">
                    <a class="nav-link" href="/" style="font-size: 25px">Log Out</a>
                </a>
            </div>
        </nav>
    </div>
</div>

<div class="container">
    <table class="table table-hover" style="margin-top: 24px">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Matrícula</th>
            <th scope="col">Hora e Data</th>
        </tr>
        </thead>

        {% for row in rows %}
        <tr>
            <td>{{row["COL_NOME"]}}</td>
            <th>{{row["COL_MATRICULA"]}}</th>
            <td>{{row["REG_DATA"]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
