<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Controle de acesso </title>
</head>
<body>
<div class="d-flex flex-column">
    <div>
        <nav class="navbar navbar-dark bg-dark" style="justify-content: space-between">
            <div class="row">
                <a class="navbar-brand">
                    <a class="nav-link" href="/view" style="font-size: 25px">Gestão de Colaboradores</a>
                </a>



                <a class="navbar-brand">
                    <a class="nav-link" href="/consulta" style="font-size: 25px">Gestão de Ponto</a>
                </a>

            </div>

            <div class="row">
                <a class="navbar-brand">
                    <a class="nav-link" href="/" style="font-size: 25px">Log Out</a>
                </a>
            </div>
        </nav>
    </div>
    <br>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <div class="container" style="margin-top: 24px">
                <h4>Inserir Registro</h4>
                <form method="POST" id="form" action="/post-registro">
                    <div class="col-4">
                        <label>
                            Matrícula:
                            <input type="text" name="codigo" id="codigo" style="width: 200px">
                        </label>
                    </div>
                    <div class="col-4">
                        <label>
                            Horário:
                            <input type="datetime-local" name="horario" id="horario">
                        </label>
                    </div>
                    <div class="col-4">
                        <input id="submitCodigo" class="btn btn-primary" type="submit" value="Inserir">
                    </div>
                </form>
            </div>
        </div>

        <div class="col-7">
            <div class="container">
                <table class="table table-hover" style="margin-top: 24px">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Matrícula</th>
                        <th scope="col">E-Mail</th>
                        <th scope="col">Data/Hora</th>
                    </tr>
                    </thead>

                    {% for row in rows %}
                    <tr>
                        <td>{{row["COL_NOME"]}}</td>
                        <td>{{row["COL_MATRICULA"]}}</td>
                        <td>{{row["COL_EMAIL"]}}</td>
                        <td>{{row["REG_DATA"]|to_date}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-1"></div>

    </div>
</div>

</body>
</html>
