<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Controle de acesso </title>
</head>
<body>
<div class="d-flex flex-column">
    <div>
        <nav class="navbar navbar-dark bg-dark" style="justify-content: space-between">
            <div class="row">
                <a class="navbar-brand">
                    <a class="nav-link" href="/view" style="font-size: 25px">Lista de Colaboradores</a>
                </a>

                <a class="navbar-brand">
                    <a class="nav-link" href="/cadastro" style="font-size: 25px">Cadastro de colaboradores</a>
                </a>



            </div>

            <div class="row">
                <a class="navbar-brand">
                    <a class="nav-link" href="/" style="font-size: 25px">Log Out</a>
                </a>
            </div>
        </nav>
    </div>
    <div class="container">
        <h3>Funcionário adicionado com Sucesso</h3>
        <br>
        <a href="/consulta" class="btn btn-secondary">Voltar</a>
    </div>
</div>
</body>
</html>  