<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Controle de acesso </title>
</head>
<body>
<div class="d-flex flex-column">
    <div>
        <nav class="navbar navbar-dark bg-dark" style="justify-content: flex-start">
            <a class="navbar-brand">
                <img src="https://press.zf.com/press/media/press_media/press_image/press_media_database/01_zf_logo2_3_2_748px.png"
                     width="60" height="60" class="d-inline-block align-top" alt="">
                <span style="font-size: 40px; margin-left: 20px; ">Controle de Acesso</span>
            </a>

            <a class="navbar-brand">
                <a class="nav-link" href="/" style="font-size: 25px">Home</a>
            </a>

            <a class="navbar-brand">
                <a class="nav-link" href="/cadastro" style="font-size: 25px">Cadastro de colaboradores</a>
            </a>



            <a class="navbar-brand">
                <a class="nav-link" href="/registro" style="font-size: 25px">Registro de Ponto</a>
            </a>

            <a class="navbar-brand">
                <a class="nav-link" href="/consulta" style="font-size: 25px">Consulta</a>
            </a>
        </nav>
    </div>
</div>

<table class="table table-hover">
    <thead class="thead-dark">  
        <th>ID</th>  
        <th>RG Funcional</th>  
        <th>Nome</th>  
        <th>Email</th>  
    </thead>  
      
    {% for row in rows %}  
      
        <tr>  
            <th>{{row["id"]}}</th>  
            <th>{{row["rgfuncional"]}}</th>  
            <td>{{row["name"]}}</td>  
            <td>{{row["email"]}}</td> 
              
        </tr>  
      
    {% endfor %}  
</table>  
<br><br>  
  
<a href="/" class="btn btn-secondary">Voltar</a>  
  
</body>  
</html>  